
# ignore all logs
**/logs
*.log

# ignore all git folders inside project
**/.git


# ignore volumes
**/.container_data/
**/container_logs/
**/.nginx/configs/cache/

# ignore all vscode-settings
**/.vscode

# protected files
*.env.yml
*.env
**/userlist.txt

# ignore all keys
*.cnf
*.pem
*.srl

**/certs

*.log
*.exe

*/node_modules
*/dist
/docker/certbot/certs
/docker/.nginx/cache
backend/docs/swagger.json
backend/docs/docs.go
docker/images_storage_service/config.yml
backend/conf/dev_config.yml
