:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sms-bg: var(--tg-theme-secondary-bg-color);
  --sms-options-bg: var(--tg-theme-bg-color);
  --sms-selected-bg: var(--tg-theme-button-color);
  --sms-selected-text-color: var(--tg-theme-button-text-color);
  --sms-search-matches: var(--tg-theme-hint-color);
  --sms-remove-btn-hover-color: var(--tg-theme-destructive-text-color);
  --sms-padding: 0;

  --container-padding-lr: 10px;
}

body {
  background-color: var(--tg-theme-bg-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.hint {
  color: var(--tg-theme-hint-color);
}

.button:not(:last-child) {
  margin-bottom: 20px
}

:root {
  user-select: none;
}

.input_div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  margin: auto;
}

.input_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.input_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--tg-theme-text-color);
  padding-right: 10px;
}

.input_area {
  border: 1px solid var(--tg-theme-secondary-bg-color);
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin-right: 10px;
}

.textarea_box {
  width: 90%;
  aspect-ratio: 2/1;
  resize: none;
  margin-right: 0 !important;
}

.file_upload_button {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.spacer {
  flex-grow: 1;
}